* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    outline: none;
  }

 

  .nav {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(20, 128, 56);
    padding: 20px;
  }

  .nav li {
    display: flex;
    align-items: center;
    gap: 2rem; 
  }

  .nav a {
    color:antiquewhite; 
  }


  .container {
   margin-top: 4rem;
   display: flex;
   justify-content: center;
   gap: 8rem;
  }
 

  img {
    width: 420px;
    box-shadow: 10px 6px 50px 5px rgb(73, 73, 73);
  }

  p {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: 600;
    color: rgb(88, 161, 14);
    text-transform: uppercase;
    font-family:Verdana, Geneva, Tahoma, sans-serif
  }



  @media(max-width: 1400px) {
    img {
     width: 80%;
    }
  p {
    font-size: 100%;
   }

   .container {
    gap: 5rem;
   }
  }
  

  @media(max-width: 600px) {
   .container {
    display: block;
    gap: 2rem;
    justify-content: center;
    align-items: center;
   }

   img {
    width: 60%;
    margin-top: 2rem;
    display: inline-block;
    justify-content: center;
    align-items: center;
   }

   p {
    margin-top: 2rem;
    align-items: center;
   }

   .nav{
    font-size: 60%;
   }
  }
  